<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Elton Araujo Silva">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Ellibot - Trabalho de Conclusão de Curso de Sistemas de Informação</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Início<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre o TCC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre o Autor</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Ellibot - Sistemas de Informação</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Ellibot</h1>
        <p class="lead">CHATTERBOT
 PARA  ASSISTÊNCIA AOS ALUNOS DO CURSO DE SISTEMAS DE INFORMAÇÃO DA UNIVERSIDADE FEDERAL DE SANTA MARIA</p>
        <p><a class="btn btn-lg btn-success" href="/chat" role="button">Acesse o Chatterbot</a></p>
      </div>
<!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
-->
      <footer class="footer">
        <p>Santa Maria- RS, 2021</p>
      </footer>

    </div> <!-- /container -->
      <!-- Scritps Button Dialoglow -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
      <df-messenger
        intent="WELCOME"
        chat-title="ElliBot"
        agent-id="f139d276-a66e-40a2-9c13-41021be65e95"
        language-code="pt-br"
    ></df-messenger>
  </body>
</html>
